@charset "utf-8";
/* CSS Document */

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto'), local('Roboto-Regular'), url(https://fonts.gstatic.com/s/roboto/v20/KFOmCnqEu92Fr1Mu4mxK.woff2) format('woff2');
  
}
.aboutyou_container{
	padding-top: 90px;
	background-color: white;
	margin: auto;
	width: 80%;
	height: 105vh;
	
}
.form_box{
	padding: 30px;
	min-width: 75%;
	margin: auto;
	border: 1px solid grey;
	border-radius: 5px;
	box-shadow: 0 12px 8px -8px darkgray;
	height: 90vh;
}
.form-head-text{
	margin-bottom: 40px;
}
.about-you-form{
	text-align: left;
}

.about_you_sub{
	margin-top: 20px;
	margin-bottom: 30px;
	font-style: italic;
}

.form_num{
	font-size: 30px;
	font-weight: bold;
	color: red;
}
.slider_cont{
	margin-top: 10px;
	margin-bottom: 20px;
	max-width: 75%;
	
}
.slide.MuiSlider-colorPrimary{
	margin-top: 15px;

	color: red;
}

.age_sect{
	margin-top: 20px;
}
.inp_des{
	font-weight: bold;
}
.age_in{
	border-bottom: 2px solid red;
	border-radius: 1px;
	border-left: none;
	border-top: none;
	border-right: none;
	width: 80px;
	margin-left: -80px;
	opacity: 0.5;
	cursor: pointer;
}

.social_in_modal{
	margin-top: 20px;
}
.social_md_desc{
	text-align: left;
}

.social-radio{
	margin: auto;
	margin-top: 20px;
	width: 90px;
}
.last_social{
	margin-left: -60px;
}

.fin_btn {
	margin-top: 15px;
	margin-bottom: 20px;
	box-shadow: 3px 4px 0px 0px #8a2a21;
	background:linear-gradient(to bottom, #c62d1f 5%, rgb(224,16,16) 100%);
	border-radius: 2px;
	background-color:rgb(224,16,16);
	border:1px solid #d02718;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	
	font-size:25px;
	padding:6px 50px;
	text-decoration:none;
	text-shadow:2px 2px 3px #810e05;
}
.fin_btn:hover {
	background:linear-gradient(to bottom, #f24437 5%, #c62d1f 100%);
	background-color:rgb(224,16,16);
	text-decoration: none;
	color:white;
}
.fin_btn:active {
	position:relative;
	top:1px;
}

.question{
	font-size: 18px;
}
