@charset "utf-8";
/* CSS Document */

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto'), local('Roboto-Regular'), url(https://fonts.gstatic.com/s/roboto/v20/KFOmCnqEu92Fr1Mu4mxK.woff2) format('woff2');
  
}


.navbar{
	margin-top: 10px;
	font-family: Roboto;
	font-size: 25px;
	padding-bottom: 15px;
	border-bottom: 2px solid red;
	box-shadow: 0 12px 8px -8px rgb(33,32,32);
}
.logo_container{
	
}

.navsteps_container{
	padding-left: 50px;
}
.first_navstep{
	margin-right: 20px;
}
.navline{
	margin-left: -80px;
}
.navstep{
	
	min-width:100px;
	margin-left: -150px;
}
.navsteps_container{
	padding-top: 50px;
}
.last_navstep{
	margin-left: -120px;
}
.step_active{
	
	color: red;
	font-size: 35px;
	margin-top: -9px;
}

@media (max-width: 2000px){
	.navbar{
	margin-top: 10px;
	font-family: Roboto;
	font-size: 25px;
	padding-bottom: 15px;
	border-bottom: 2px solid red;
	box-shadow: 0 12px 8px -8px rgb(33,32,32);
}
.logo_container{
	
}

.navsteps_container{
	padding-left: 50px;
}
.first_navstep{
	margin-right: 80px;
}
.navline{
	margin-left: 0px;
}
.navstep{
	
	min-width:100px;
	margin-left: 0px;
}
.navsteps_container{
	padding-top: 50px;
}
.last_navstep{
	margin-left: 0px;
}
.step_active{
	
	color: red;
	font-size: 35px;
	margin-top: -9px;
}
	
}

@media (max-width: 1340px){
	.navbar{
	margin-top: 10px;
	font-family: Roboto;
	font-size: 20px;
	padding-bottom: 15px;
	border-bottom: 2px solid red;
	box-shadow: 0 12px 8px -8px rgb(33,32,32);
}
.logo_container{
	
}

.navsteps_container{
	padding-left: 50px;
}
.first_navstep{
	margin-right: 60px;
}
.navline{
	margin-right: 15px;
	margin-left: -10px;
}
.navstep{
	
	min-width:100px;
	margin-left: 0px;
}
.navsteps_container{
	padding-top: 50px;
}
.last_navstep{
	margin-left: -15px;
	margin-right: -20px;
	min-width: 220px;
}
.step_active{
	
	color: red;
	font-size: 25px;
	margin-top: -3px;
}
	
}
@media screen and (max-width: 991px) {
.navbar{
margin-top: 10px;
font-family: Roboto;
font-size: 20px;
padding-bottom: 15px;
border-bottom: 2px solid red;
box-shadow: 0 12px 8px -8px rgb(33,32,32);
}
.logo_container{
	
}

.navsteps_container{
	padding-left: 50px;
}
.first_navstep{
	margin-right: 90px;
}
.navline{
	max-width: 50px;
	margin-right: 5px;
	margin-left: -35px;
}
.navstep{
	
	min-width:200px;
	margin-left: -60px;
	margin-right: 8px;
}
.navsteps_container{
	padding-top: 50px;
}
.last_navstep{
	margin-left: -35px;
	margin-right: -20px;
	min-width: 165px;
}
.step_active{
	
	color: red;
	font-size: 25px;
	margin-top: -3px;
}

}

@media only screen and (max-width: 600px) {
/* start of medium tablet styles */
	.navbar{
	margin-top: 10px;
	font-family: Roboto;
	font-size: 18px;
	padding-bottom: 15px;
	border-bottom: 2px solid red;
	box-shadow: 0 12px 8px -8px rgb(33,32,32);
	}
	.logo_container{
		position: relative;
		left:-120px;
	
	}

	.navsteps_container{
		position: relative;
		margin-top: -165px;
		padding-left: 150px;
	}
	.first_navstep{
		margin-right: 0px;
		margin-left: -70px;
	}
	.navline{
		display: none;
	}
	.navstep{

		float: right;
	}
	.navsteps_container{
		padding-top: 50px;
	}
	.last_navstep{
		margin-left: -43px;
		margin-right: 0px;
		min-width: 165px;
	}
	.step_active{

		color: red;
		font-size: 25px;
		margin-top: -3px;
	}
}




	