@charset "utf-8";
/* CSS Document */

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto'), local('Roboto-Regular'), url(https://fonts.gstatic.com/s/roboto/v20/KFOmCnqEu92Fr1Mu4mxK.woff2) format('woff2');
  
}
@media (max-width: 5000px){
	.info_section{
		z-index: 3;
		position: absolute;
		border-radius: 5px;
		padding: 30px;
		left:51%;
		background-color: white;
		width: 700px;
		height: 650px;
		border: 1px solid black;
		-webkit-animation: fadein .2s linear forwards;
    	animation: fadein .2s linear forwards;
		
	}
	.help-header{
		margin-top: 85px;
		font-size: 20px;
	}
	.close-icon{
		position: absolute;
		z-index: 5;
		width: 30px;
		left: 10px;
		top:10px;
		-webkit-animation: fadein .2s linear forwards;
    	animation: fadein .2s linear forwards;
	}
	
	
	.scorecard_container{
		background-color: white;
		padding-left: 200px;
		font-family: Roboto;
		padding-top: 100px;
		margin: auto;
		text-align: left;
		width: 80%;
		height: 80vh;
	}
	.instructions{
		text-align: left;
		margin-bottom: 30px;
		font-style: italic;
		margin-top: -90px;
	}
	.control_container{
		margin-right: 100px;
		margin-top: 100px;
		
	}	

	.control_box{
		border: 1px solid black;
		text-align: left;
		padding: 15px;
		width: 600px;
		box-shadow: 0px 4px 8px 0px grey;
		z-index: 6;
		
	}
	.CurSlice_control{
		margin-top: 60px;
		text-align: left;
		font-size: 30px;
		padding-left: 20px;
		margin-bottom: 5px;
	}
	.info-icon{
		margin-top: 35px;
		margin-left: 10px;
		cursor: pointer;
	}

	.number_container{
		margin-left: 5px;
	}
	.num{
		font-size: 25px;
		margin-left: 19px;
		margin-right: 22px;
		margin-top: 25px;
	}
	.na{
		font-size: 25px;
		color:black;
	}
	.numberline{
		width: 700px;
	}
	.num_active{
		font-size: 45px;
		margin-top: 2px;
		color: red;
	}
	.slider{
		width: 520px;
		margin-left: 10px;
		
	}
	.slide.MuiSlider-colorPrimary{
		color: red;
	}
	
	
	canvas{

	  width:800px !important;
	  height:420px !important;


	}
	.wheel{
		z-index: 2;
		text-align: center;
		margin-left: -255px;
		margin-top: 90px;
		font-family: Roboto;
		font-size: 19px;
		font-weight: bolder;
	}
	.you{
		position: absolute;
		font-size: 34px;
		top: 187px;
		left:385px;
		font-weight: bold;
	}
	.wellinformed{
		position: absolute;
		top: 35px;
		left:370px;
		width: 100px;
	}
	.wellfocused{
		position: absolute;
		top: 100px;
		left:460px;
		width: 130px;
	}
	.welltransformed{
		position: absolute;
		top: 100px;
		left:235px;
		width: 150px;
	}
	.wellliberated{
		position: absolute;
		top: 205px;
		left:225px;
		width: 130px;
	}
	.wellcompensated{
		position: absolute;
		top: 205px;
		left:470px;
		width: 130px;
	}
	.welloptimized{
		position: absolute;
		top: 305px;
		left:285px;
		width: 130px;
	}
	.wellaccumulated{
		position: absolute;
		top: 305px;
		left:420px;
		width: 130px;
	}
	.NextPrevious{
		margin-top: 20px;
		margin-left: 30px;
	}
	.next_btn_container{
		margin-left: -150px;
	}
	.previous_btn_container{
		margin-left: 70px;
	}
	
}
@media (max-width: 2000px){
.instructions{
	text-align: left;
	margin-bottom: 30px;
	font-style: italic;
	margin-top: -90px;
}
.scorecard_container{
	padding-left: 100px;
	padding-top: 50px;
	margin: auto;
	width: 80%;
	height: 80vh;
}
.control_container{
	margin-top: 90px;
	margin-right: 100px;

}	
canvas{

 	  width:800px !important;
	  height:420px !important;

}
}

/*MAKE MAJOR CHANGES HERE */

@media (max-width: 1340px){
.scorecard_container{
	border: 1px solid black;
	padding-top: 100px;
	margin: auto;
	height: 80vh;
	width: 800px;
}
canvas{

 	  width:800px !important;
	  height:420px !important;

}
}
@media screen and (max-width: 991px) {
/* start of large tablet styles */
.scorecard_container{
	border: 1px solid black;
	padding-top: 100px;
	margin: auto;
	height: 750px;
	width: 1200px;
}
canvas{

  width:500px !important;
  height:500px !important;

}
}

@media screen and (max-width: 767px) {
/* start of medium tablet styles */
.scorecard_container{
	border: 1px solid black;
	padding-top: 100px;
	margin: auto;
	height: 750px;
	width: 1200px;
}
canvas{

  width:500px !important;
  height:500px !important;

}
}

@media screen and (max-width: 479px) {
/* start of phone styles */
.scorecard_container{
	border: 1px solid black;
	padding-top: 100px;
	margin: auto;
	height: 750px;
	width: 1200px;
}
canvas{

  width:500px !important;
  height:500px !important;

}
}
@-webkit-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

@keyframes fadein {
	from { opacity: 0; }
    to   { opacity: 1; }
}